#-------------------------
# Temporary folder
#-------------------------
/public/imagekit/*
/node_modules

#-------------------------
# Temporary Files
#-------------------------
package-lock.json

#-------------------------
# Environment Variables
#-------------------------
.env
